%table.table.table-hover#datatable
  %thead
    %tr
      %th.left Activity
      %th.left Service Interval
      %th.center Manu.
      %th.center

  %tbody
    - activities.each do |a|
      = render :partial => 'maintenance_schedules/maintenance_activities_table_row', :locals => {:activity => a}
