= format_field("Name", schedule.name )
= format_field("Vehicle Type", schedule.asset_subtype )
= format_field("Vehicle Count", format_as_integer(schedule.assets.count))
= format_field("Description", schedule.description )
