.row
  .col-md-12
    .panel.panel-default.header-part
      .panel-heading
        .row
          .col-md-3
            %h3.panel-title
              %i.fa.fa-list
              Maintenance Schedules
          .col-md-9
            = render 'index_actions'
      .panel-body
        - if @schedules.empty?
          %p No matching schedules found
        - else
          .col-md-12                
            = render :partial => 'schedules_index_table', :locals => {:schedules => @schedules}

= render 'index_scripts'
