%ul.nav.nav-tabs
  %li
    %a{:href => "#srvc", :data =>{:toggle => 'tab'}}
      = "Services"
  %li
    %a{:href => "#hist", :data =>{:toggle => 'tab'}}
      = "History"

.tab-content
  .tab-pane.fade#srvc
    .tab-content
      = render 'services'

  .tab-pane.fade#hist
    .tab-content
      = render 'order_history_table'
