%table.table.table-hover#services_table
  %thead
    %tr
      %th.left Service
      %th.left Service Interval
      %th.left Last Service

  %tbody
    - @maintenance_service_order.maintenance_events.each do |a|
      - last_service = a.maintenance_activity_id ? @asset.last_service(a.maintenance_activity) : @asset.last_service(a.maintenance_activity_type, false)
      %tr
        %td.left= a
        %td.left= a.maintenance_activity.try(:service_interval) || "N/A"
        %td.left= last_service.nil? ? "" : format_as_date(last_service.event_date)
